*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;

}

header h1{
    color: bisque;
}

main{
    display: flex;
    flex-direction: row;
   
}

@media only screen and (max-width: 600px) {
    main {
      display: block;
    }

    nav > ul{
        display: flex;
        flex-direction: row;
    }

    #ads > section{
        flex-direction: row;
    }
}

nav{
    padding: 10px;
    border: 1px solid black;
    width: 20vw;
}
nav li{
    list-style: none;
    border: 1px solid black;
    padding: 20px;

}

nav a {
    text-decoration: none;
}

#posts{
    border: 1px solid black;
    padding: 20px;
    width: 70vw;
    background-color: antiquewhite;
}

#posts > section{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aqua;
    height: 30vh;
}
#posts > *{
    margin: 20px;
}

#posts h2{
    color: green;
}

#ads{
    border: 1px solid black;
    padding: 20px;
    width: 10vw;
}

#ads > *{
    margin: 30px;
}

#ads > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#ads  div {
    width: 100px;
    height: 100px;
    background-color: rgb(217, 211, 211);
    margin: 30px;
    border: 1px solid black;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
    
}

@media only screen and (max-width: 600px) {
    main {
      flex-direction: row;
    }
}

footer li{
    list-style: none;
}